<!DOCTYPE html>
<html>
<head>
    <title>flask</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">

</head>
<body>
    <div class='div1' >
      <div>
        <h1>Login</h1>
      </div>
        <form action="/submit" method='post'>
        <div>
          <input type='text' id='user_name' name='user_name' placeholder='User' required >
        </div>
        <br>
        <div>
           <input type='password' id='pwd' name='pwd' placeholder='Password' required>
           <br>
        </div>
        <div class='submit'>
          <input type="submit" id='submit' value="Submit">
        </div>
      </form>  
      <form action="" method='get'>
        <div class='fu'>
          <input type="submit" value="forgot password">
        </div>
      </form>
      <form action="/register" method='get'>
        <div class='su'>
          <input type="submit" value="Sign Up">
        </div>
      </form>
   </div> 
</body>
<html>