<html>
<head>
    <title>flask</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style_r.css')}}">
</head>
<body>
    <div class='div1' >
      <div>
        <h1>Sign Up</h1>
      </div>
        <form action="/register_Done" method='post'>
        <div>
          <input type='text' id='user_name' name='user_name' placeholder='User' required >
        </div>
        <br>
        <div>
            <input type='email' id='email' name='email' placeholder='Email' required>           
         </div>
         <br>
        <div>
           <input type='password' id='pwd' name='pwd' placeholder='Password' required>
           <br>
        </div>
        <div class='submit'>
          <input type="submit" id='submit' value="Submit">
        </div>
    </form>  
   </div> 
</body>
<html>