body{
    background-color: black;   
    font-family: Arial, sans-serif;
}     

input[type="text"],input[type="password"] {
    font-family:inherit;
}

.div1 {
    max-width : 500px;
    text-align: center;
    padding:20px;
    color:white;
    border-radius:30px;
    margin-top:100px;
    margin-left:30%;
    box-shadow: 1px -2px 25px rgb(217, 204, 204),1px 2px 25px rgb(217, 204, 204);
    transition: all 0.5s;
}
.div1:hover{
    box-shadow: 1px -2px 15px rgb(217, 204, 204),1px 2px 15px rgb(217, 204, 204);
    cursor: pointer;
}

#submit{
    margin-top:15px;
    background-color: aqua;
    border:none;
    border-radius:15px;
    width:80px;
    height:30px;
    transition:all 0.5s;
}
#submit:hover{
    box-shadow: 1px -2px 6px rgb(0, 255, 255),-1px 2px 6px rgb(0, 255, 255);
}

.fu{
   margin-left: -250px; 
   margin-bottom: -36px;
}
.fu input{
    margin-top:15px;
    background-color: transparent;
    border:none;
    color: white;
}
.fu:hover{
     opacity: 50%;
}
.su{
    margin-top: -25px;
    margin-left: 250px;
    padding: 5px;
}
.su input{
    margin-top:15px;
    background-color: transparent;
    border:none;
    color: aqua;
}
.su:hover{
    opacity: 50%;
    cursor: pointer;
}